﻿<md-toolbar 
	class="biome-logo md-tall">
</md-toolbar>
<md-content flex>
  <a ng-repeat="r in vm.navRoutes" 
  	 ui-sref="analytics" 
  	 ng-attr-selected="{{ vm.isCurrent( r.name ) }}" 
  	 ng-disabled="r.name != 'analytics'"
  	 tooltips
  	 tooltip-title="Not available in this demo" 
  	 tooltip-side="right"
  	 tooltip-class="{{ ( r.name == 'analytics' ? 'ng-hide' : '' ) }} navigation-tooltip">
    <div ng-bind-html="r.settings.content"></div>
  </a>
</md-content>
<md-toolbar class="user-info md-tall" layout="column" layout-align="center center">
	<div class="user-avatar"></div>
	<div class="user-name">Welcome John Doe</div>
</md-toolbar>
