<div layout="row" flex>

    <md-sidenav 
    	ui-view="navigation"
    	md-is-locked-open="$mdMedia('gt-md')"
    	md-component-id="left-navigation"
    	class="site-sidenav md-sidenav-left md-whiteframe-z2">
    </md-sidenav>

    <div flex layout="column">

        <md-toolbar layout="row" class="kpi-toolbar" ng-class="{ 'md-tall': vm.isGreaterThanMedium }">

            <button class="navigation-toggle-btn" ng-click="vm.openNavigation()" hide-gt-md></button>
            <div layout="column" layout-gt-md="row" flex flex-gt-md="50">
                <div class="kpi-block" flex layout="row" layout-gt-md="column" layout-align="start center" layout-align-gt-md="center center">
                    <div class="kpi-icon individuals-tracked-icon"></div>
                    <div class="kpi-label" hide-sm hide-md>Individuals Tracked</div>
                    <div class="kpi-value">2,904</div>
                </div>
                <div class="kpi-block" flex layout="row" layout-gt-md="column" layout-align="start center" layout-align-gt-md="center center">
                    <div class="kpi-icon health-data-collected-icon"></div>
                    <div class="kpi-label" hide-sm hide-md>Health Data Collected</div>
                    <div class="kpi-value">451 hours</div>
                </div>
            </div>            
            <div layout="column" layout-gt-md="row" flex flex-gt-md="50">
                <div class="kpi-block" flex layout="row" layout-gt-md="column" layout-align="start center" layout-align-gt-md="center center">
                    <div class="kpi-icon avg-hearth-rate-icon"></div>
                    <div class="kpi-label" hide-sm hide-md>Avg. Hearth Rate</div>
                    <div class="kpi-value">75 bpm</div>
                </div>
                <div class="kpi-block last" flex layout="row" layout-gt-md="column" layout-align="start center" layout-align-gt-md="center center">
                    <div class="kpi-icon avg-calories-burned-icon"></div>
                    <div class="kpi-label" hide-sm hide-md>Avg. Calories Burned</div>
                    <div class="kpi-value">667</div>
                </div>
            </div>
        </md-toolbar>

        <div ui-view="main" class="main-container" layout="column" flex></div>

    </div>    

</div>