<md-dialog ng-cloak class="welcome-dialog">
	<md-toolbar class="biome-logo md-tall"></md-toolbar>
	
	<md-content>
		<p><b>Welcome to BioMe health analytics app.</b></p>
		<p>BioMe provides consumers with connected health and fitness monitoring devices to improve their well-being. In this app, the company has aggregated its worldwide biometric sensor data from these devices and packaged it for research institutions and healthcare companies to explore and visualize. To accomplish this, BioMe has embedded Pentaho Dashboards and ad hoc analysis into an online user experience.</p>
		<p>Feel free to play around with the main dashboard or drill-down into a custom data set at the bottom.</p>
		<p class="border-on-top"><b>Note:</b> The data and information displayed in this dashboard is for demonstration purposes only. The figures have been randomly generated and are not based on any survey or research.</p>
	</md-content>

	<md-toolbar class="welcome-button" layout="column" layout-align="center center">
		<button ng-click="hide()">Proceed</button>
	</md-toolbar>
</md-dialog>