<section layout="column" id="analytics-view" flex >

  <div layout="column" flex ng-repeat="v in vm.navRoutes" ng-show="!!vm.isCurrent( v.name )">
		<div layout="column" flex ui-view="{{ v.name }}"></div>
	</div>

</section>