<!-- <div layout="column" class="bpm-slider slider-wrapper" >
<div layout="column" layout-gt-md="row">
<div flex layout="row">
<div flex layout="column" layout-align="center start" layout-align-gt-md="center end" layout-padding class="slider-label">
Avg. Heart Rate Limit
</div>
<div flex="50" flex-gt-md="66" layout="row" layout-align="end center" class="slider-info" hide-gt-md layout-padding>
<input ng-model="vm.data.filterValue"/><span>bpm</span>
</div>
</div>
<div flex="66" class="slider-container">
<md-slider md-discrete step="10" min="0" max="200" ng-model="vm.data.filterValue"></md-slider>
</div>
</div>
<div layout="row" layout-align="end center" hide-sm hide-md>
<div flex flex-gt-md="66" layout="row" layout-align="center center" class="slider-info">
<input ng-model="vm.data.filterValue"/><span>bpm</span>
</div>
</div>
</div> -->
