<div layout="column" class="year-slider slider-wrapper" >
	<div layout="column" layout-gt-md="row">
		<div flex layout="row">
			<div flex layout="column" layout-align="center start" layout-align-gt-md="center end" layout-padding class="slider-label">
				Year of Analysis
			</div>
			<div flex="50" flex-gt-md="66" layout="row" layout-align="end center" class="slider-info" hide-gt-md layout-padding>
				<input ng-model="vm.data.filterValue"/>
			</div>
		</div>
		<div flex="66" class="slider-container">
			<md-slider md-discrete step="1" min="2000" max="2015" ng-model="vm.data.filterValue"></md-slider>
		</div>
	</div>
	<div layout="row" layout-align="end center" hide-sm hide-md>
		<div flex flex-gt-md="66" layout="row" layout-align="center center" class="slider-info">
			<input ng-model="vm.data.filterValue"/>
		</div>
	</div>
</div>
