<md-dialog ng-cloak class="analyzer-dialog" ng-class="{ isReady: isReady() }">
	<md-toolbar class="biome-logo md-tall"></md-toolbar>
	
	<md-content>
		<p ng-hide="isReady()"><b>Your request is being processed.</b></p>
		<p ng-hide="isReady()">Please wait for the request to be completed or go back to the previous screen and wait for our notification.</p>
		<p ng-hide="!isReady()"><b>Request completed.</b></p>
		<p ng-hide="!isReady()">Proceed to Analyzer or go back to the previous screen.</p>
	</md-content>

	<md-toolbar class="analyzer-actions" layout="row" layout-align="center center">
		<button ng-click="runAndHide()" ng-disabled="!isReady()">Go to analyzer</button>
		<button class="notify-button" ng-click="hideAndNotify()">Notify when ready</button>
		<button class="close-button" ng-click="hide()">Close</button>
	</md-toolbar>
</md-dialog>