<md-toast layout="column" layout-gt-md="row">
  <span flex>Request {{name}} is ready.</span>
  <div layout="row" layout-align="center center">
	  <button ng-click="runAndHide()" class="md-action"> Go to Analyzer </button>
	  <button ng-click="hide()" class="md-action"> Dismiss </button>  	
  </div>
</md-toast>