<section layout="column" flex id="refine-view" class="refine-view" >



  <md-content layout="column" class="charts-dashboard-content" >
    <cdf-dashboard
      class="charts-dashboard"
      events="{
        'cdf:preInit' : 'vm.toggleProgressIndicator( true, \'charts\' )',
        'cdf:postInit' : 'vm.toggleProgressIndicator( false, \'charts\' )',
        'countryParam:fireChange' : 'vm.updateParameter(name,data)' 
      }"
      parameters="{ 
        countryParam : vm.param.value 
      }"
      path="{{vm.dashboards.charts.path}}">
    </cdf-dashboard>
  </md-content>

  <div class="sdr-container" layout="column" class="md-whiteframe-z2" ng-attr-open="{{ vm.isOpen() }}">
  	<div class="toggle-container" layout-align="center center" layout="row">
  		<button class="toggle-sdr-button" ng-click="vm.toggle()" layout-align="center center" layout="row" flex>
  			<div ng-hide="vm.isOpen()" class="show-dataset" flex>Show Dataset Request</div>
  			<div ng-hide="!vm.isOpen()" class="hide-dataset" flex>Hide Dataset Request</div>
  		</button>
  	</div>
    <div layout="column" flex class="sdr-content-container">
    	<md-content>
        <cdf-dashboard
          class="sdr-dashboard"
          dashboard-overrides
          events="{
            'cdf:preInit' : 'vm.toggleProgressIndicator( true, \'sdr\' )' ,
            'cdf:postInit' : 'vm.toggleProgressIndicator( false, \'sdr\' )' ,
            'BioMe:distillery:request' : 'vm.showDialog( data )' ,
            'BioMe:analyzer:view' : 'vm.goToAnalyzer( data )' ,
            'BioMe:distillery:ready' : 'vm.resolveRequest( data )' ,
            'countryParam:fireChange' : 'vm.updateParameter( name , data )' 
          }"
          parameters="{ 
            countryParam : vm.param.value 
          }"
      	  path="{{vm.dashboards.sdr.path}}">
    	  </cdf-dashboard>
      </md-content>
      <md-backdrop class="md-opaque refine-backdrop" ng-if="vm.hasProgressIndicator('sdr')" layout-align="center center" layout="row">
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
      </md-backdrop>
    </div>
  </div>

  <md-backdrop class="md-opaque refine-backdrop" ng-if="vm.hasProgressIndicator('charts')" layout-align="center center" layout="row">
    <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
  </md-backdrop>

</section>

