<section layout="column" flex id="analyze-view" >

	<md-toolbar layout="column" layout-gt-md="row" class="analyze-toolbar">

		<div layout="row" flex>
			<div layout="row" flex="15" flex-gt-md="40" class="navigation-button">
				<button ui-sref="analytics.refine"><span hide-sm hide-md>Back to form</span></button>
			</div>

			<div layout="column" layout-align="space-between center" flex flex-sm="70" flex-md="70">
				<div class="buttons-container" layout-align="center center" layout="row">

					<button ng-repeat="r in vm.navRoutes"
									ui-sref="{{r.name}}"
									ng-attr-active="{{ vm.isCurrent( r.name ) }}"
									ng-class="{ active: vm.isCurrent( r.name ) }" >
	    			<div ng-bind-html="r.settings.content"></div>
	  			</button>

				</div>
				<div ui-view="analysis-title" class="analysis-title" hide-sm hide-md> Placeholder Title </div>
			</div>
		</div>

		<div ui-view="analysis-title" class="analysis-title" hide-gt-md layout="row" layout-align="center center"> Placeholder Title </div>

		<div layout="row" layout-align "center center"flex flex-gt-md="50">
			<div ui-view="analysis-selector" flex>

			</div>
		</div>

	</md-toolbar>

	<div layout="column" flex ng-repeat="v in vm.navRoutes" ng-show="!!vm.isCurrent( v.name )">
		<md-content layout="column" flex ui-view="{{ v.name }}"></md-content>
	</div>



</section>
