/* ========================== Fonts ========================== */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src:  local('Open Sans Light'), 
        local('OpenSans-Light'), 
        url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:  local('Open Sans'), 
        local('OpenSans'), 
        url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src:  local('Open Sans Semibold'), 
        local('OpenSans-Semibold'), 
        url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}



/* ========================== General Styles ========================== */

body {
	font-family: 'Open Sans', Arial, sans-serif !important;
}

* {
	box-sizing: border-box;
}

.blockUI{
	display: none !important;
}

md-backdrop {
	overflow: hidden;
}

/* Workaround for flexbox overflow issue in firefox */
[layout]{
	min-width: 1px;
	min-height: 1px;
}

/* ========================== Navigation Bar ========================== */

md-sidenav {
	display: flex;
	width: 150px;
	min-width: 150px;
	max-width: 150px;
	background: #1ea29b;
	background: -moz-linear-gradient(top,  #1ea29b 7%, #86e2d5 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,#1ea29b), color-stop(99%,#86e2d5));
	background: -webkit-linear-gradient(top,  #1ea29b 7%,#86e2d5 99%);
	background: -o-linear-gradient(top,  #1ea29b 7%,#86e2d5 99%);
	background: -ms-linear-gradient(top,  #1ea29b 7%,#86e2d5 99%);
	background: linear-gradient(to bottom,  #1ea29b 7%,#86e2d5 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ea29b', endColorstr='#86e2d5',GradientType=0 );

	transition-property: -webkit-transform;
  transition-property: transform;

  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

md-sidenav.md-locked-open {
	width: 150px;
	min-width: 150px;
	max-width: 150px;
}

md-sidenav.md-closed.md-locked-open-add {
	width:150px;
	min-width:150px;

}
md-sidenav.md-locked-open-remove-active {
  width:150px;
	min-width:150px;

}


md-sidenav md-content.md-biome-theme {
	background-color: transparent;
}

md-sidenav a {
	display: block;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	color: rgba(255,255,255,.4);
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #1B877F;
	cursor: default;
	text-decoration: none;
}

md-sidenav a:focus,
md-sidenav a:hover {
	color:rgba(255,255,255,.4);
	text-decoration: none;
}

md-sidenav a[selected] {
	color: #FFF;
	background: rgba(102,102,102,.3);
	box-shadow: 0 0 30px rgba(0,0,0,.3) inset;
	-moz-box-shadow: 0 0 30px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,.3) inset;
}

md-sidenav a i {
	display: block;
	height:24px;
	margin-bottom: 5px;
	opacity: .4;
}

md-sidenav a[selected] i {
	opacity: 1;
}

md-sidenav a i.analytics-icon {
	background: url(../images/analytics-icon.svg) no-repeat center center;
}

.no-svg a md-button i.analytics-icon {
	background: url(../images/analytics-icon.png) no-repeat center center;
}

md-sidenav a i.locations-icon {
	background: url(../images/locations-icon.svg) no-repeat center center;
}

.no-svg a md-button i.locations-icon {
	background: url(../images/locations-icon.png) no-repeat center center;
}

md-sidenav a i.recent-studies-icon {
	background: url(../images/recent-studies-icon.svg) no-repeat center center;
}

.no-svg md-sidenav a i.recent-studies-icon {
	background: url(../images/recent-studies-icon.png) no-repeat center center;
}

md-sidenav a i.financial-impact-icon {
	background: url(../images/financial-impact-icon.svg) no-repeat center center;
}

.no-svg a md-button i.financial-impact-icon {
	background: url(../images/financial-impact-icon.png) no-repeat center center;
}


@media screen and (max-width: 960px) {	

	md-sidenav a {
		padding-top: 6px;
		padding-bottom: 6px;
	}

	md-sidenav a span {
		display: none;
	}

	md-sidenav a i {
		height: 27px;
		margin: 0;
	}

}


@media screen and (max-height: 400px) {	

	md-sidenav md-toolbar.md-tall {
		height: 100px;
		min-height: 100px;
		max-height: 100px;
	}

}



/* ========================== Toolbar ========================== */

md-toolbar.kpi-toolbar {
	height: 62px;
	min-height: 62px;
}

md-toolbar.md-tall,
md-toolbar.kpi-toolbar.md-tall {
	height: 160px;
	min-height: 160px;
	max-height: 160px;
}



/* ========================== BioMe Logo Toolbar ========================== */

md-toolbar.biome-logo {
	background: #FFF url(../images/biome-logo.svg) no-repeat center center;
}

.no-svg md-toolbar.biome-logo {
	background: #FFF url(../images/biome-logo.png) no-repeat center center;
}



/* ========================== User Info Toolbar ========================== */

md-toolbar.user-info {
	background: #1B877F;
}

.user-avatar {
	width: 34px;
	height: 34px;
	margin-bottom: 5px;
	background: url(../images/user-avatar.png) no-repeat center center;
}

.user-name {
	text-align: center;
	font-size: 12px;
	font-weight: 400;
	color: #FFF;
}



/* ========================== KPI List Toolbar ========================== */

md-toolbar.kpi-toolbar {
	background: #F9F9F9;
	color: #1EA29B;
}

md-toolbar.kpi-toolbar .kpi-block {
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
}

md-toolbar.kpi-toolbar .kpi-block.last {
	border-right: none;
}

md-toolbar.kpi-toolbar .kpi-icon {
	height: 30px;
	width: 50px;
	margin-bottom: 5px;
}

md-toolbar.kpi-toolbar .kpi-icon.individuals-tracked-icon {
	background: url(../images/individuals-tracked-icon.svg) no-repeat center center;
}

.no-svg md-toolbar.kpi-toolbar .kpi-icon.individuals-tracked-icon {
	background: url(../images/individuals-tracked-icon.png) no-repeat center center;
}

md-toolbar.kpi-toolbar .kpi-icon.health-data-collected-icon {
	background: url(../images/health-data-collected-icon.svg) no-repeat center center;
}

.no-svg md-toolbar.kpi-toolbar .kpi-icon.health-data-collected-icon {
	background: url(../images/health-data-collected-icon.png) no-repeat center center;
}

md-toolbar.kpi-toolbar .kpi-icon.avg-hearth-rate-icon {
	background: url(../images/avg-hearth-rate-icon.svg) no-repeat center center;
}

.no-svg md-toolbar.kpi-toolbar .kpi-icon.avg-hearth-rate-icon {
	background: url(../images/avg-hearth-rate-icon.png) no-repeat center center;
}

md-toolbar.kpi-toolbar .kpi-icon.avg-calories-burned-icon {
	background: url(../images/avg-calories-burned-icon.svg) no-repeat center center;
}

.no-svg md-toolbar.kpi-toolbar .kpi-icon.avg-calories-burned-icon {
	background: url(../images/avg-calories-burned-icon.png) no-repeat center center;
}

md-toolbar.kpi-toolbar .kpi-label {
	font-size: 12px;
	font-weight: 300;
}

md-toolbar.kpi-toolbar .kpi-value {
	font-size: 16px;
	font-weight: 300;
}

@media screen and (max-width: 960px) {	

	md-toolbar.kpi-toolbar .kpi-block {
		border: none;
	}

	md-toolbar.kpi-toolbar .kpi-value {
		font-size: 12px;
	}

	md-toolbar.kpi-toolbar .kpi-icon {
		height: 30px;
		width: 30px;
		margin: 1px 5px;
		background-size: contain !important;
	}

}



/* ========================== Analyze Toolbar ========================== */

md-toolbar.analyze-toolbar {
	padding: 20px 15px;
	background: #EDEDED;
	color: #555555;
}

.navigation-button button {
	padding: 0;
	line-height: 32px;
	height: 32px;
	border-radius: 16px;
	border: 0 none;
	background: #3598DB;
	color: #FFF;
	filter: none !important;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Open Sans';
	outline: 0 none !important;
	position: relative;
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	text-align: right;
	padding-left: 40px;
	padding-right: 15px;
}

.navigation-button button:hover,
.navigation-button button:active {
	background: #4ba3df;
}

.navigation-button button:before {
	content: '';
	position: absolute;
	left: 5px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	background: url(../images/go-back.svg) no-repeat center center;
	width: 24px;
	height: 24px;
}

.no-svg .navigation-button button:before {
	background: url(../images/go-back.png) no-repeat center center;
}

.navigation-tooltip{
	z-index: 100;
}

@media screen and (max-width: 960px) {	
	.navigation-button button {
		padding: 0;
		width: 32px;
	}

	.navigation-button button:before {
		left: 0;
		width: 30px;
	}

	md-toolbar.analyze-toolbar .analysis-title {
		margin-bottom: 15px;
		margin-top: 5px;
		font-size: 16px !important;
	}

	.slider-info {
		margin-top: 0 !important;
	}
}

md-toolbar.analyze-toolbar .buttons-container button {
	padding: 0;
	line-height: 32px;
	height: 32px;
	width: 60px;
	border-radius: 0;
	border: 0 none;
	background: #FFFFFF;
	color: #FFF;
	filter: none !important;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Open Sans';
	outline: 0 none !important;
	position: relative;
	border: 1px solid #3598DB;
	margin-left: -1px;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
}

md-toolbar.analyze-toolbar .buttons-container button.active,
md-toolbar.analyze-toolbar .buttons-container button:hover {
	background: #3598DB;
}

md-toolbar.analyze-toolbar .buttons-container button:first-child {
	border-radius: 16px 0 0 16px;
	margin-left: 0;
}

md-toolbar.analyze-toolbar .buttons-container button:last-child {
	border-radius: 0 16px 16px 0;
}

md-toolbar.analyze-toolbar button .toggle-button-icon {
	width: 24px;
	height: 14px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
}

md-toolbar.analyze-toolbar button .toggle-button-icon:after {
	content: '';
	width: 24px;
	height: 14px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
    transition: opacity .3s;
    -moz-transition: opacity .3s;
    -webkit-transition: opacity .3s;
	background-position: top center !important;
	opacity: 0;
}

md-toolbar.analyze-toolbar button:hover .toggle-button-icon:after,
md-toolbar.analyze-toolbar button.active .toggle-button-icon:after {
	opacity: 1;
}

md-toolbar.analyze-toolbar button .table-icon,
md-toolbar.analyze-toolbar button .table-icon:after {
	background: url(../images/table-icon.svg) no-repeat bottom center;
}

.no-svg md-toolbar.analyze-toolbar button .table-icon,
.no-svg md-toolbar.analyze-toolbar button .table-icon:after {
	background: url(../images/table-icon.png) no-repeat bottom center;
}

md-toolbar.analyze-toolbar button .bar-icon,
md-toolbar.analyze-toolbar button .bar-icon:after {
	background: url(../images/bar-icon.svg) no-repeat bottom center;
}

.no-svg md-toolbar.analyze-toolbar button .bar-icon,
.no-svg md-toolbar.analyze-toolbar button .bar-icon:after {
	background: url(../images/bar-icon.png) no-repeat bottom center;
}

md-toolbar.analyze-toolbar button .scatterplot-icon,
md-toolbar.analyze-toolbar button .scatterplot-icon:after {
	background: url(../images/scatter-icon.svg) no-repeat bottom center;
}

.no-svg md-toolbar.analyze-toolbar button .scatterplot-icon,
.no-svg md-toolbar.analyze-toolbar button .scatterplot-icon:after {
	background: url(../images/scatter-icon.png) no-repeat bottom center;
}

md-toolbar.analyze-toolbar .analysis-title {
	line-height: 22px;
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 400;
	color: #3598DB;
}




/* ========================== Navigation Toggle Button ========================== */

.navigation-toggle-btn {
	width: 64px;
	outline: 0 none;
	border: none;
	background: transparent url(../images/menu-icon.svg) no-repeat center center;
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	opacity: .7;
}

.no-svg .navigation-toggle-btn {
	background: transparent url(../images/menu-icon.png) no-repeat center center;
}

.navigation-toggle-btn:hover {
	opacity: 1;
}


/* ========================== SDR ========================== */

[ui-view="main"]{
	position: relative;
	overflow: hidden;
}

.refine-view{
	padding-bottom: 62px;
}

.charts-dashboard > div {
	padding-bottom: 30px;
}

.charts-dashboard-content {
	overflow-y: scroll;
}

/* ========================== SDR ========================== */

md-backdrop.refine-backdrop{
	top:0;
}

.sdr-container{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 51;

	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	transition: all .4s cubic-bezier(.25,.8,.25,1);
	transition-property: -webkit-transform;
	transition-property: transform;

	background: #FFFFFF;
}

.sdr-container .toggle-container {
	position: absolute;
	top: -62px;
	left: 0;
	right: 0;
	height: 62px
}

.sdr-container:not([open]){
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.sdr-container[open]{
	height:100%;
}

.sdr-container[open] .toggle-container{
	position: relative;
	top:0;
}

.sdr-container .toggle-container button {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	height: 62px;
	color: #555555;
	padding: 0;
	border: 0 none;
	border-top: 1px solid #FFF;
	outline: 0 none;
	background: #e6e6e6;
	box-shadow: 0 2px 15px rgba(0,0,0,.1);
	-moz-box-shadow: 0 -2px 15px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 -2px 15px rgba(0,0,0,.1);


    background: -webkit-linear-gradient(#dadada,#e6e6e6);  
    background: -moz-linear-gradient(#dadada,#e6e6e6);  
    background: -o-linear-gradient(#dadada,#e6e6e6);  
    background: linear-gradient(#dadada,#e6e6e6);  

    -webkit-transition: all .4s cubic-bezier(.25,.8,.25,1);  
    -moz-transition: all .4s cubic-bezier(.25,.8,.25,1);  
    -o-transition: all .4s cubic-bezier(.25,.8,.25,1);  
    transition: all .4s cubic-bezier(.25,.8,.25,1);  

    background-size:1px 124px;  
}

.sdr-container .toggle-container button:hover {
    background-position:62px;  
	color: #3598db;
}


.sdr-container .toggle-container button div {
	line-height: 14px;
	padding-top: 10px;
	position: relative;
}

.sdr-container .toggle-container button div:before,
.sdr-container .toggle-container button div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 10px;
	height: 5px;
}

.sdr-container .toggle-container button div:after {
	opacity: 0;

    -webkit-transition: opacity .4s cubic-bezier(.25,.8,.25,1);  
    -moz-transition: opacity .4s cubic-bezier(.25,.8,.25,1);  
    -o-transition: opacity .4s cubic-bezier(.25,.8,.25,1);  
    transition: opacity .4s cubic-bezier(.25,.8,.25,1);  
}

.sdr-container .toggle-container button:hover div:after {
	opacity: 1;
}

.sdr-container .toggle-container button div.show-dataset:before {
	background: url(../images/up-down-arrow-sprite.svg) no-repeat left top;
}

.no-svg .sdr-container .toggle-container button div.show-dataset:before {
	background: url(../images/up-down-arrow-sprite.png) no-repeat left top;
}

.sdr-container .toggle-container button:hover div.show-dataset:after {
	background: url(../images/up-down-arrow-sprite.svg) no-repeat left bottom;
}

.no-svg .sdr-container .toggle-container button:hover div.show-dataset:after {
	background: url(../images/up-down-arrow-sprite.png) no-repeat left bottom;
}

.sdr-container .toggle-container button div.hide-dataset:before {
	background: url(../images/up-down-arrow-sprite.svg) no-repeat right top;
}

.no-svg .sdr-container .toggle-container button div.hide-dataset:before {
	background: url(../images/up-down-arrow-sprite.png) no-repeat right top;
}

.sdr-container .toggle-container button:hover div.hide-dataset:after {
	background: url(../images/up-down-arrow-sprite.svg) no-repeat right bottom;
}

.no-svg .sdr-container .toggle-container button:hover div.hide-dataset:after {
	background: url(../images/up-down-arrow-sprite.png) no-repeat right bottom;
}

.sdr-content-container {
	position: relative;
}

/* ========================== Welcome Dialog ========================== */

md-backdrop.md-opaque.md-biome-theme {
  background-color: rgba(85,85,85,.9);
}

md-dialog.welcome-dialog md-toolbar.md-tall {
  height: 140px;
  min-height: 140px;
  max-height: 140px;
}

md-dialog.welcome-dialog {
	width: 480px;
	max-width: 90%;
	text-align: center;
	font-size: 12px;
	font-weight: 300;
	border-radius: 0;
}

md-dialog.welcome-dialog md-content {
	padding: 0 45px;
	text-align: left;
	letter-spacing: 0.9px;
}

md-dialog.welcome-dialog p {
	padding: 0;
	margin: 10px 0;
}

md-dialog.welcome-dialog p b {
	font-weight: 600;
}

md-dialog.welcome-dialog p.border-on-top {
	margin-top: 15px;
	padding: 15px;
	background: #F7f7f7;
	margin-bottom: 0;
}

md-dialog.welcome-dialog button {
	font-family: 'Open Sans';
	padding: 0;
	line-height: 32px;
	border-radius: 16px;
	border: 0 none;
	background: #3598DB;
	color: #FFF;
	filter: none !important;
	font-size: 14px;
	font-weight: 300;
	width: 260px;
	outline: 0 none !important;
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
}

md-dialog.welcome-dialog button:hover,
md-dialog.welcome-dialog button:active {
	background: #4ba3df;
}

md-toolbar.welcome-button {
	min-height: 72px;
	max-height: 72px;
	height: 72px;
	background: #FFF !important;
}


/* ========================== Sliders ========================== */

.slider-label {
	font-size: 12px;
	font-weight: 300;
}

md-slider {
	background: #FFFFFF;
	margin-left: 16px;
	margin-right: 16px;
	height: 32px;
}

md-slider.dragging {
	cursor: pointer;
}

md-slider:before,
md-slider:after {
	content: '';
	position: absolute;
	left: -16px;
	top: 0;
	height: 32px;
	width: 16px;
	border-radius: 16px 0 0 16px;
	background: #FFFFFF;
	z-index: -1;
}

md-slider:after {
	left: auto;
	right: -16px;
	border-radius: 0 16px 16px 0;
}

md-slider .md-track-container {
	top: 16px;
	height: 1px;
}

md-slider.md-biome-theme .md-track,
md-slider.md-biome-theme .md-track-ticks {
	background-color: rgba(0,0,0,0.05);
}

md-slider.md-biome-theme .md-track.md-track-fill {
	background-color: #E36A6B;
}

.year-slider md-slider.md-biome-theme .md-track.md-track-fill,
.time-slider md-slider.md-biome-theme .md-track.md-track-fill {
	background-color: #3598db;
	display: none;
}

md-slider.md-min .md-sign,
md-slider .md-sign .md-thumb-text,
md-slider.md-biome-theme .md-sign {
  	display: none !important;
}

md-slider .md-thumb {
	left: -6px;
	top: 10px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	transform: scale(1);
}

md-slider .md-thumb:after {
	left: 0px;
	top: 1px;
	width: 12px;
	height: 12px;
	border-radius: 32px;
	border: 1px solid;
	cursor: pointer;
}

md-slider.md-biome-theme .md-thumb:after,
md-slider.md-biome-theme.md-min .md-thumb:after,
md-slider.md-biome-theme.md-max .md-thumb:after {
	border-color: #E36A6B;
	background-color: #E36A6B;
}

.year-slider md-slider.md-biome-theme .md-thumb:after,
.year-slider md-slider.md-biome-theme.md-min .md-thumb:after,
.year-slider md-slider.md-biome-theme.md-max .md-thumb:after,
.time-slider md-slider.md-biome-theme .md-thumb:after,
.time-slider md-slider.md-biome-theme.md-min .md-thumb:after,
.time-slider md-slider.md-biome-theme.md-max .md-thumb:after {
	border-color: #3598db;
	background-color: #3598db;
}

.slider-info {
	margin-top: 10px;
}

.slider-info span {
	margin-left: 5px;
	font-size: 12px;
}

.slider-info input {
	width: 50px;
	background: #FFF;
	border: 1px solid #DADADA;
	color: #e36a6b;
	font-size: 12px;
	line-height: 18px;
	font-weight: 600;
	outline: 0 none;
	text-align: center;
	font-family: 'Open Sans';
}

.year-slider .slider-info input,
.time-slider .slider-info input {
	color: #3598db;
}


/* ========================== Analyzer View ========================== */

analyzer-view iframe {
	height:100%;
	width:100%;
	position: absolute;
	top: 0;
	left: 0;
}



/* ========================== Analyzer Dialog ========================== */

md-dialog.analyzer-dialog {
	width: 480px;
	max-width: 90%;
	text-align: center;
	font-size: 12px;
	font-weight: 300;
	border-radius: 0;
}

md-dialog.analyzer-dialog md-content {
	padding: 0 45px;
}

md-dialog.analyzer-dialog p {
	padding: 0;
	margin: 10px 0;
}

md-dialog.analyzer-dialog p b {
	font-weight: 600;
}

md-dialog.analyzer-dialog button {
	font-family: 'Open Sans';
	padding: 0;
	margin: 0 5px;
	line-height: 32px;
	border-radius: 16px;
	border: 0 none;
	background: #3598DB;
	color: #FFF;
	filter: none !important;
	font-size: 14px;
	font-weight: 300;
	width: 140px;
	outline: 0 none !important;
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
}

md-dialog.analyzer-dialog button:hover,
md-dialog.analyzer-dialog button:active {
	background: #4ba3df;
}

md-dialog.analyzer-dialog button[disabled="disabled"] {
	background: #3598DB !important;
	opacity: 0.4;
	cursor: default;
}

md-toolbar.analyzer-actions {
	min-height: 72px;
	max-height: 72px;
	height: 72px;
	background: #FFF !important;
}



/* ========================== Analyzer Request Notification ========================== */

md-toast.md-biome-theme {
	background: #FFFFFF;
	border-left: 5px solid #1B877F;
	border-radius: 0;
	max-width: 90%;
	min-height: 0;
	max-height: none;
	height: auto;
	padding: 10px 25px;
}

md-toast.md-biome-theme span {
	font-weight: 300;
	color: #555;
	margin-right: 20px;
}

md-toast.md-biome-theme button {
	font-family: 'Open Sans';
	padding: 0;
	margin: 5px;
	line-height: 32px;
	border-radius: 16px;
	border: 0 none;
	background: #3598DB;
	color: #FFF;
	filter: none !important;
	font-size: 14px;
	font-weight: 300;
	width: 140px;
	text-transform: none;
	outline: 0 none !important;
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
}

md-toast.md-biome-theme button:hover,
md-toast.md-biome-theme button:active {
	background: #4ba3df;
}

.analyzer-dialog.isReady .notify-button,
.analyzer-dialog:not(.isReady) .close-button {
	display: none !important;
}

@media screen and (max-width: 960px) {	

	md-toast.md-biome-theme span {
		margin-right: 0;
		margin-bottom: 20px;
	}

}

@media screen and (max-width: 600px) {	

	md-toast.md-biome-theme {
		top: 5px !important;
		left: 5px !important;
	}

}



/* ========================== Loading Spinner ========================== */

md-progress-circular.md-biome-theme.md-hue-2 .md-inner .md-left .md-half-circle,
md-progress-circular.md-biome-theme .md-inner .md-left .md-half-circle {
  border-left-color: #FFF;
}

md-progress-circular.md-biome-theme .md-inner .md-gap,
md-progress-circular.md-biome-theme.md-hue-2 .md-inner .md-gap {
  border-top-color: #FFF;
  border-bottom-color: #FFF;
}

md-progress-circular.md-biome-theme.md-hue-2 .md-inner .md-right .md-half-circle,
md-progress-circular.md-biome-theme .md-inner .md-right .md-half-circle {
  border-right-color: #FFF;
}

md-progress-circular.md-biome-theme.md-hue-2 .md-inner .md-left .md-half-circle, 
md-progress-circular.md-biome-theme.md-hue-2 .md-inner .md-right .md-half-circle,
md-progress-circular.md-biome-theme .md-inner .md-left .md-half-circle, 
md-progress-circular.md-biome-theme .md-inner .md-right .md-half-circle {
  border-top-color: #FFF;
}